apiVersion: apps/v1
kind: Deployment
metadata:
  name: wikinstape-backend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: wikinstape
  template:
    metadata:
      labels:
        app: wikinstape
    spec:
      containers:
        - name: backend
          image: priteshrao3/wikinstape-backend:latest
          ports:
            - containerPort: 8000

          env:
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: wikinstape-secrets
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: wikinstape-secrets
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wikinstape-secrets
                  key: DB_PASSWORD
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: wikinstape-secrets
                  key: DB_HOST
            - name: DB_PORT
              value: "5432"

          readinessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
