version: "3.9"

services:
  web:
    build: .
    container_name: wikinstape_backend
    command: gunicorn wikinstape.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:14
    container_name: wikinstape_db
    environment:
      POSTGRES_DB: wikinstape_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

